<a href="https://colab.research.google.com/github/CodingAW/Project-140/blob/main/Project_138.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
from google.colab import files
u = files.upload()

Saving kaggle.json to kaggle.json

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [5]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

Downloading articles-sharing-reading-from-cit-deskdrop.zip to /content
 61% 5.00M/8.20M [00:00<00:00, 32.6MB/s]
100% 8.20M/8.20M [00:00<00:00, 40.2MB/s]

In [6]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

Archive:  articles-sharing-reading-from-cit-deskdrop.zip
  inflating: shared_articles.csv
  inflating: users_interactions.csv

In [15]:
import pandas as pd
import numpy as py
import plotly.express as px
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
df1 = pd.read_csv("shared_articles.csv")
df2 = pd.read_csv("users_interactions.csv")

df1.head()

    timestamp  ... lang
0  1459192779  ...   en
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en

[5 rows x 13 columns]

In [9]:
df2.head()

    timestamp eventType  ...  userRegion  userCountry
0  1465413032      VIEW  ...         NaN          NaN
1  1465412560      VIEW  ...          NY           US
2  1465416190      VIEW  ...         NaN          NaN
3  1465413895    FOLLOW  ...         NaN          NaN
4  1465412290      VIEW  ...         NaN          NaN

[5 rows x 8 columns]

In [10]:
# Project 139

df1 = df1[df1['eventType'] == 'CONTENT SHARED']
df1.head(10)

     timestamp  ... lang
1   1459193988  ...   en
2   1459194146  ...   en
3   1459194474  ...   en
4   1459194497  ...   en
5   1459194522  ...   en
6   1459194557  ...   en
7   1459194599  ...   en
8   1459194751  ...   en
9   1459194842  ...   en
10  1459210504  ...   pt

[10 rows x 13 columns]

In [11]:
df2.shape

(72312, 8)

In [12]:
def find_total_events(df1_row):
  totalLikes = df2[(df2['contentId'] == df1_row['contentId']) & (df2['eventType'] == 'LIKE')].shape[0]
  totalViews = df2[(df2['contentId'] == df1_row['contentId']) & (df2['eventType'] == 'VIEW')].shape[0]
  totalBookmarks = df2[(df2['contentId'] == df1_row['contentId']) & (df2['eventType'] == 'BOOKMARK')].shape[0]
  totalFollows = df2[(df2['contentId'] == df1_row['contentId']) & (df2['eventType'] == 'FOLLOW')].shape[0]
  totalComments = df2[(df2['contentId'] == df1_row['contentId']) & (df2['eventType'] == 'COMMENT CREATED')].shape[0]

  return totalLikes + totalViews + totalBookmarks + totalFollows + totalComments

df1['totalEvents'] = df1.apply(find_total_events, axis=1)
df1.head()

    timestamp       eventType  ...  lang  totalEvents
1  1459193988  CONTENT SHARED  ...    en            1
2  1459194146  CONTENT SHARED  ...    en            1
3  1459194474  CONTENT SHARED  ...    en           13
4  1459194497  CONTENT SHARED  ...    en            0
5  1459194522  CONTENT SHARED  ...    en            2

[5 rows x 14 columns]

In [13]:
df1 = df1.sort_values("totalEvents", ascending= False)
df1.head(10)

       timestamp       eventType  ...  lang  totalEvents
3096  1487246811  CONTENT SHARED  ...    en          433
1671  1467813728  CONTENT SHARED  ...    pt          315
1814  1468867647  CONTENT SHARED  ...    pt          294
1317  1465484901  CONTENT SHARED  ...    en          294
588   1461629452  CONTENT SHARED  ...    pt          281
2308  1473593226  CONTENT SHARED  ...    pt          280
1902  1469678235  CONTENT SHARED  ...    en          266
1942  1469992520  CONTENT SHARED  ...    en          255
1724  1468247818  CONTENT SHARED  ...    pt          253
2095  1471520397  CONTENT SHARED  ...    pt          249

[10 rows x 14 columns]

In [20]:
# Project 140

def clean_data(x):
  if isinstance(x, str):
    return x.lower()
  else:
    return ""

df1['title'] = df1['title'].apply(clean_data)

df1.head(3)

       timestamp       eventType  ...  lang  totalEvents
3096  1487246811  CONTENT SHARED  ...    en          433
1671  1467813728  CONTENT SHARED  ...    pt          315
1814  1468867647  CONTENT SHARED  ...    pt          294

[3 rows x 14 columns]

In [28]:
titles = df1['title']
print(titles[1])

novo workaholic trabalha, pratica esportes e tem tempo para a família. conheça

In [22]:
count = CountVectorizer(stop_words= "english")
count_matrix = count.fit_transform(df1['title'])

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
df1 = df1.reset_index()
indices = pd.Series(df1.index, index= df1['title'])

In [29]:
def get_reccommendations(title, cosine_sim):
  idx = indices[title]
  sim_scores = list(enumerate(cosine_sim[idx]))

  sim_scores = sorted(sim_scores, key= lambda x: x[1], reverse= True)
  sim_scores = sim_scores[1:11]
  movie_indices = [i[0] for  i in sim_scores]
  return df1['title'].iloc[movie_indices]

get_reccommendations("novo workaholic trabalha, pratica esportes e tem tempo para a família. conheça", cosine_sim2)

649     para rebater estatuto da família, campanha mud...
1066           lista tem 15 dicas para google docs; teste
1565    conheça o google duo: um app de chamadas de ví...
1577    "5g está para iot como 4g esteve para o smartp...
625     pabllo vittar reina no novo comercial da skol ...
78                                     criadas para casar
2174    webinar do aem para ajuda na preparação para f...
2378    conheça as ferramentas digitais que utilizo na...
1400    3 noções básicas essenciais para a criação de ...
386     globo g1 lança bot para o telegram que te ajud...
Name: title, dtype: object